# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# TypeScript cache
*.tsbuildinfo

# OS Metadata
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Vercel
.vercel

# IDE folders
.vscode/
.idea/

# Testing
coverage
.nyc_output

# DO NOT ignore the extension zip as it's needed for the download link
!public/fish-pish-extension.zip
